@import "../../styles/variable.scss";
.contactBack{
    color: $textPrimary;
    margin-right: 20px;
    color: $textPrimary;
    &::before{
        content: "  <";
    }
}
.contactCard{
    width: 500px;
    margin: 20px auto;
    color: $textPrimary;

    .contactcontent div{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        input{
            border: 1px solid $textPrimary;
            height: 30px;
        }
        textarea{
            border: 1px solid $textPrimary;
        }
        .contactBtn{
            width: 100%;
            background-color: $primaryColor;
            border: none;
            color: $textSecondary;
            height: 40px;
            margin: 20px 0;
        }
    }
}